h1, h2  {
    font-family: 'Raleway', sans-serif; 
    font-size: 36px;
    text-align: center
}

#homeD, #emailD, #shoppingD {
display: flex;
flex-direction: row;
justify-content: end;

}

hr    {
size : 5px ; 
color : #703F12;
width : absolute
}

